.myModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);

    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.myModalContent {
    background: white;
    border-radius: 16px;
    min-width: 270px;
    position: relative;
    margin: 15px;
    padding: 10px;
    min-height: 200px;
}